In [1]:
%matplotlib inline
import pandas as pd
import utils

# Load data

In [2]:
data = utils.get_socrata_data("http://data.cityofchicago.org/resource/cwig-ma7x.json")
inspections = pd.DataFrame(data)

Got http://data.cityofchicago.org/resource/cwig-ma7x.json?%24offset=0&%24limit=50000
Writing cwig-ma7x.json?%24offset=0&%24limit=50000
Got http://data.cityofchicago.org/resource/cwig-ma7x.json?%24offset=50000&%24limit=50000
Writing cwig-ma7x.json?%24offset=50000&%24limit=50000
Got http://data.cityofchicago.org/resource/cwig-ma7x.json?%24offset=100000&%24limit=50000
Writing cwig-ma7x.json?%24offset=100000&%24limit=50000

# Analysis

In [4]:
inspections.head(10)

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,604 N CICERO AVE,QUICK SUB,CHICAGO,QUICK SUB,Restaurant,2015-10-01T00:00:00.000,1578396,Canvass,41.89154610278816,2278446,"{u'type': u'Point', u'coordinates': [-87.74583...",-87.74583186684967,Out of Business,Risk 2 (Medium),IL,NaN,60644
1,2020 W CHICAGO,BAR BARI,CHICAGO,BAR BARI,Restaurant,2011-09-12T00:00:00.000,634525,Canvass,41.896004699879654,2109874,"{u'type': u'Point', u'coordinates': [-87.67793...",-87.6779378973854,Pass,Risk 1 (High),IL,NaN,60622
2,5620 S ASHLAND AVE,NaN,CHICAGO,"ROYAL CATERING SERVICES,LLc",Restaurant,2013-06-28T00:00:00.000,1151417,Canvass,41.79154905521807,2002612,"{u'type': u'Point', u'coordinates': [-87.66466...",-87.66466770942304,No Entry,Risk 1 (High),IL,NaN,60636
3,2634 N CLARK ST,WINGSTOP,CHICAGO,WINGSTOP,Restaurant,2017-01-24T00:00:00.000,1982029,Canvass,41.9305175589043,2253834,"{u'type': u'Point', u'coordinates': [-87.64394...",-87.64394893189049,Fail,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60614
4,3207 N ELSTON AVE,FOOD FIRST CHICAGO,CHICAGO,FOOD FIRST CHICAGO,Restaurant,2015-12-29T00:00:00.000,1607260,License Re-Inspection,41.939646610904056,2422792,"{u'type': u'Point', u'coordinates': [-87.69847...",-87.69847901358345,Pass,Risk 1 (High),IL,NaN,60618
5,217 N JEFFERSON ST,TRATTORIA ISABELLA,CHICAGO,TRATTORIA ISABELLA,Restaurant,2012-04-06T00:00:00.000,1184245,Canvass,41.88629366786716,1842843,"{u'type': u'Point', u'coordinates': [-87.64264...",-87.642643920642,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60661
6,541 N FAIRBANKS CT,CAFE 541,CHICAGO,"DELI-TIME, L.L.C.",Restaurant,2010-09-17T00:00:00.000,114553,Canvass,41.892274965646884,1898469,"{u'type': u'Point', u'coordinates': [-87.62009...",-87.62009879454878,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611
7,7445 N SHERIDAN RD,THE WATERFORD,CHICAGO,THE WATERFORD A NURSING & REHABILITATION CENTRE,Long Term Care,2010-03-02T00:00:00.000,176448,Canvass,42.01757051861477,43055,"{u'type': u'Point', u'coordinates': [-87.66538...",-87.66538487791532,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60626
8,324 N Leavitt ST,DIPPIN' DOTS ICE CREAM,CHICAGO,DIPPIN' DOTS ICE CREAM,Mobile Food Preparer,2013-08-14T00:00:00.000,1360265,License Re-Inspection,41.88743405025222,2220008,"{u'type': u'Point', u'coordinates': [-87.68184...",-87.68184949426895,Pass,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60612
9,4420 S Fairfield AVE,UNO BRIGHTON PARK CAMPUS,CHICAGO,UNO BRIGHTON PARK CAMPUS,School,2014-10-22T00:00:00.000,1498071,Canvass,41.81309751957612,2916353,"{u'type': u'Point', u'coordinates': [-87.69327...",-87.6932747396522,Fail,Risk 1 (High),IL,"26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...",60632

In [5]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148987 entries, 0 to 148986
Data columns (total 17 columns):
address            148987 non-null object
aka_name           146317 non-null object
city               148837 non-null object
dba_name           148987 non-null object
facility_type      144426 non-null object
inspection_date    148987 non-null object
inspection_id      148987 non-null object
inspection_type    148986 non-null object
latitude           148459 non-null object
license_           148973 non-null object
location           148459 non-null object
longitude          148459 non-null object
results            148987 non-null object
risk               148921 non-null object
state              148979 non-null object
violations         119060 non-null object
zip                148889 non-null object
dtypes: object(17)
memory usage: 19.3+ MB

In [7]:
inspections.results.value_counts().reset_index()

                  index  results
0                  Pass    87728
1                  Fail    28890
2    Pass w/ Conditions    14055
3       Out of Business    13514
4              No Entry     4005
5             Not Ready      735
6  Business Not Located       60

In [8]:
inspections.risk.value_counts().reset_index()

             index    risk
0    Risk 1 (High)  103711
1  Risk 2 (Medium)   30956
2     Risk 3 (Low)   14237
3              All      17

In [9]:
inspections.violations.value_counts().reset_index()

                                                    index  violations
0       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          31
1       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          25
2       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          14
3       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          14
4       18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...          12
5       38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...          12
6       38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...          12
7       35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...          11
8       34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...          11
9       30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...          10
10      18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           9
11      45. FOOD HANDLER REQUIREMENTS MET - Comments: ...           8
12      38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...           8
13      34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           8
14      18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           8
15      33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...           7
16      2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...           7
17      41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...           7
18      35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           7
19      18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           7
20      33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...           7
21      21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...           7
22      32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           7
23      29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...           6
24      32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           6
25      34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           6
26      38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...           6
27      35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           6
28      35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           6
29      32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           6
...                                                   ...         ...
117567  12. HAND WASHING FACILITIES: WITH SOAP AND SAN...           1
117568  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117569  24. DISH WASHING FACILITIES: PROPERLY DESIGNED...           1
117570  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117571  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117572  11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...           1
117573  34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           1
117574  29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...           1
117575  11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...           1
117576  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117577  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117578  35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...           1
117579  19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...           1
117580  29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...           1
117581  33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...           1
117582  45. FOOD HANDLER REQUIREMENTS MET - Comments: ...           1
117583  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117584  30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...           1
117585  3. POTENTIALLY HAZARDOUS FOOD MEETS TEMPERATUR...           1
117586  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117587  26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...           1
117588  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117589  32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...           1
117590  43. FOOD (ICE) DISPENSING UTENSILS, WASH CLOTH...           1
117591  9. WATER SOURCE: SAFE, HOT & COLD UNDER CITY P...           1
117592  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117593  18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...           1
117594  34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...           1
117595  26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...           1
117596  11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...           1

[117597 rows x 2 columns]

In [10]:
failed = inspections[inspections.results == 'Fail']

In [11]:
failed.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
3,2634 N CLARK ST,WINGSTOP,CHICAGO,WINGSTOP,Restaurant,2017-01-24T00:00:00.000,1982029,Canvass,41.9305175589043,2253834,"{u'type': u'Point', u'coordinates': [-87.64394...",-87.64394893189049,Fail,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60614
9,4420 S Fairfield AVE,UNO BRIGHTON PARK CAMPUS,CHICAGO,UNO BRIGHTON PARK CAMPUS,School,2014-10-22T00:00:00.000,1498071,Canvass,41.81309751957612,2916353,"{u'type': u'Point', u'coordinates': [-87.69327...",-87.6932747396522,Fail,Risk 1 (High),IL,"26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...",60632
10,1575 N MILWAUKEE AVE,DEBONAIR,CHICAGO,DEBONAIR SOCIAL CLUB,Liquor,2015-07-07T00:00:00.000,1559988,Canvass,41.91021618406442,1226806,"{u'type': u'Point', u'coordinates': [-87.67698...",-87.67698445293294,Fail,Risk 2 (Medium),IL,24. DISH WASHING FACILITIES: PROPERLY DESIGNED...,60622
18,2524 S CALIFORNIA AVE,SON OF A BEEF,CHICAGO,SON OF A BEEF,Restaurant,2014-09-11T00:00:00.000,1496606,License,41.84560861006466,2355008,"{u'type': u'Point', u'coordinates': [-87.69538...",-87.69538780161594,Fail,Risk 2 (Medium),IL,NaN,60608
29,1248 W BELMONT AVE,GREAT AMERICAN BAGEL,CHICAGO,GREAT AMERICAN BAGEL,Restaurant,2014-10-09T00:00:00.000,1441489,Canvass,41.939911434484664,1898062,"{u'type': u'Point', u'coordinates': [-87.66083...",-87.66083270391688,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60657

In [12]:
failed.dba_name.value_counts().reset_index()

                                                   index  dba_name
0                                                 SUBWAY       252
1                                          DUNKIN DONUTS       162
2                                             MCDONALD'S        99
3                                               7-ELEVEN        53
4                                              MCDONALDS        43
5                                 HAROLD'S CHICKEN SHACK        39
6                            POTBELLY SANDWICH WORKS LLC        38
7                                 CHIPOTLE MEXICAN GRILL        37
8                                                  CITGO        31
9                                      PAPA JOHN'S PIZZA        31
10                                            McDONALD'S        28
11                                                   KFC        27
12                                        DOMINO'S PIZZA        27
13                          DUNKIN DONUTS/BASKIN ROBBINS        27
14                                                Subway        26
15                                      LAS ISLAS MARIAS        25
16                                           AU BON PAIN        25
17                               POTBELLY SANDWICH WORKS        24
18                                 TREASURE ISLAND FOODS        24
19                                              MARATHON        23
20                                 SHARKS FISH & CHICKEN        22
21                                           JIMMY JOHNS        22
22                                    WHOLE FOODS MARKET        22
23                                               FRESHII        21
24                                        FOREVER YOGURT        21
25                        DUNKIN DONUTS / BASKIN ROBBINS        21
26                                             PIZZA HUT        21
27                                               ARAMARK        21
28                                    LEONA'S RESTAURANT        20
29                                EL TACONAZO RESTAURANT        20
...                                                  ...       ...
13036                   JEHOVAS LUTHERAN CHURCH & SCHOOL         1
13037                    St. MARY STAR OF THE SEA SCHOOL         1
13038                                   Ben's Bar Be Cue         1
13039                                       N & S MARKET         1
13040                                 PRINCESS FOOD MART         1
13041                             EL SAZON BORICUA, INC.         1
13042                            MANDELA AFRICAN GROCERY         1
13043                                     THE TOWER CLUB         1
13044                              THE ATHENAEUM THEATRE         1
13045                                  SACMONT FOOD MART         1
13046                             THE NEW POLK & WESTERN         1
13047                                  ST. PIUS V SCHOOL         1
13048                      JIMMY JOHN'S GOURMET SANDWICH         1
13049                                         EL CABRITO         1
13050                              THE DAILY BAR & GRILL         1
13051                                        ZIGZAG CAFE         1
13052                       ALL DAY MONTESSORI PRESCHOOL         1
13053                 BASCULE WINE BAR & AMERICAN BISTRO         1
13054                                  MISERICORDIA HOME         1
13055                               THE COMEDY CLUBHOUSE         1
13056                                  GOOD EARTH MARKET         1
13057                                           THE NOOK         1
13058  BRAIN BOX LITERACY ACADEMY AND EDUCATIONAL SER...         1
13059                      STOCKS & BLONDES BAR & GRILLE         1
13060                    WILLIAM HOWARD TAFT HIGH SCHOOL         1
13061                                     MELLODY FREEZE         1
13062                                         VO'S PLACE         1
13063                                     CALUMET BAKERY         1
13064                                       URBAN PANTRY         1
13065                    JR'S JAMAICAN TROPICAL CAFE,INC         1

[13066 rows x 2 columns]

In [13]:
failed.address.value_counts().reset_index()

                         index  address
0           11601 W TOUHY AVE       230
1            324 N LEAVITT ST        74
2            500 W MADISON ST        63
3           5700 S CICERO AVE        54
4            2300 S THROOP ST        45
5           100 W RANDOLPH ST        39
6            2637 S THROOP ST        33
7               333 W 35TH ST        31
8             600 E GRAND AVE        29
9             700 E GRAND AVE        28
10       2002 S WENTWORTH AVE        26
11         520 N MICHIGAN AVE        26
12          7601 S CICERO AVE        26
13           800 N KEDZIE AVE        24
14           131 N CLINTON ST        24
15         900 N MICHIGAN AVE        22
16       5401 S WENTWORTH AVE        19
17             225 S CANAL ST        19
18            233 S WACKER DR        18
19       301 E NORTH WATER ST        18
20         875 N MICHIGAN AVE        17
21             1660 E 55TH ST        16
22           2306 W DEVON AVE        16
23             151 W ADAMS ST        16
24       444 W FULLERTON PKWY        16
25             201 N CLARK ST        16
26         113-125 N GREEN ST        15
27          2131 S ARCHER AVE        15
28           6312 N NAGLE AVE        15
29       4623-4627 N BROADWAY        15
...                        ...      ...
11312      5061 S PRAIRIE AVE         1
11313       220 E CHICAGO AVE         1
11314     3602 N LAVERGNE AVE         1
11315     3425 N LAWNDALE AVE         1
11316          3207 W 59TH ST         1
11317       5600 N RIDGE BLDG         1
11318       5028 W MAYPOLE ST         1
11319          3101 W 26TH ST         1
11320       3819 N HARLEM AVE         1
11321      1010 W Chicago AVE         1
11322           508 E 71ST ST         1
11323       4821 N KEDZIE AVE         1
11324      3722 W BELMONT AVE         1
11325       2411 S WALLACE ST         1
11326       2715 W MADISON ST         1
11327     3101 N CLYBOURN AVE         1
11328          3742 W 63RD ST         1
11329  4647 W WASHINGTON BLVD         1
11330         1930 W 103RD ST         1
11331      7201 W HIGGINS AVE         1
11332        3434 W NORTH AVE         1
11333         2620 S Lawndale         1
11334     1838 W LAWRENCE AVE         1
11335       3418 N HARLEM AVE         1
11336        3936 W SCHOOL ST         1
11337       6222 S ARCHER AVE         1
11338      2427 W CHICAGO AVE         1
11339          4334 W 26TH ST         1
11340     1400 S JEFFERSON ST         1
11341      3728 W DIVISION ST         1

[11342 rows x 2 columns]

In [14]:
failed[failed.address == "11601 W TOUHY AVE"]

Empty DataFrame
Columns: [address, aka_name, city, dba_name, facility_type, inspection_date, inspection_id, inspection_type, latitude, license_, location, longitude, results, risk, state, violations, zip]
Index: []

In [17]:
failed_businesses = failed.dba_name.value_counts().reset_index()

In [19]:
failed_business.plot.bar()

NameError: name 'failed_business' is not defined