In [1]:
%matplotlib inline
import pandas as pd
import utils

# New York City restaurant food inspections

I wish to navigate the NYC food inspection dataset and see which boroughs in NYC have the highest rate of 'Grade Pending' or failed food inspections. Also I want to see what the most common letter grade is for a restaurant.

In [3]:
raw_data = utils.get_socrata_data("http://data.cityofnewyork.us/resource/xx67-kt59.json")
inspections = pd.DataFrame(raw_data)

Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=0&%24limit=50000
Writing xx67-kt59.json?%24offset=0&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=50000&%24limit=50000
Writing xx67-kt59.json?%24offset=50000&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=100000&%24limit=50000
Writing xx67-kt59.json?%24offset=100000&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=150000&%24limit=50000
Writing xx67-kt59.json?%24offset=150000&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=200000&%24limit=50000
Writing xx67-kt59.json?%24offset=200000&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=250000&%24limit=50000
Writing xx67-kt59.json?%24offset=250000&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=300000&%24limit=50000
Writing xx67-kt59.json?%24offset=300000&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=350000&%24limit=50000
Writing xx67-kt59.json?%24offset=350000&%24limit=50000
Got http://data.cityofnewyork.us/resource/xx67-kt59.json?%24offset=400000&%24limit=50000
Writing xx67-kt59.json?%24offset=400000&%24limit=50000

In [4]:
inspections.head()

,action,boro,building,camis,critical_flag,cuisine_description,dba,grade,grade_date,inspection_date,inspection_type,phone,record_date,score,street,violation_code,violation_description,zipcode
0,Violations were cited in the following area(s).,BRONX,1007,30075445,Critical,Bakery,MORRIS PARK BAKE SHOP,A,2017-05-18T00:00:00,2017-05-18T00:00:00,Cycle Inspection / Initial Inspection,7188924968,2017-06-04T06:00:49,7,MORRIS PARK AVE,06D,"Food contact surface not properly washed, rins...",10462
1,Violations were cited in the following area(s).,BRONX,1007,30075445,Not Critical,Bakery,MORRIS PARK BAKE SHOP,A,2017-05-18T00:00:00,2017-05-18T00:00:00,Cycle Inspection / Initial Inspection,7188924968,2017-06-04T06:00:49,7,MORRIS PARK AVE,10F,Non-food contact surface improperly constructe...,10462
2,Violations were cited in the following area(s).,BRONX,1007,30075445,Critical,Bakery,MORRIS PARK BAKE SHOP,A,2016-02-18T00:00:00,2016-02-18T00:00:00,Cycle Inspection / Initial Inspection,7188924968,2017-06-04T06:00:49,10,MORRIS PARK AVE,04L,Evidence of mice or live mice present in facil...,10462
3,Violations were cited in the following area(s).,BRONX,1007,30075445,Not Critical,Bakery,MORRIS PARK BAKE SHOP,A,2016-02-18T00:00:00,2016-02-18T00:00:00,Cycle Inspection / Initial Inspection,7188924968,2017-06-04T06:00:49,10,MORRIS PARK AVE,08A,Facility not vermin proof. Harborage or condit...,10462
4,Violations were cited in the following area(s).,BRONX,1007,30075445,Critical,Bakery,MORRIS PARK BAKE SHOP,A,2015-02-09T00:00:00,2015-02-09T00:00:00,Cycle Inspection / Initial Inspection,7188924968,2017-06-04T06:00:49,6,MORRIS PARK AVE,06C,Food not protected from potential source of co...,10462

In [5]:
inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415584 entries, 0 to 415583
Data columns (total 18 columns):
action                   414596 non-null object
boro                     415584 non-null object
building                 415484 non-null object
camis                    415584 non-null object
critical_flag            415584 non-null object
cuisine_description      415584 non-null object
dba                      415285 non-null object
grade                    203019 non-null object
grade_date               201279 non-null object
inspection_date          415584 non-null object
inspection_type          414596 non-null object
phone                    415574 non-null object
record_date              415584 non-null object
score                    390669 non-null object
street                   415584 non-null object
violation_code           408575 non-null object
violation_description    408233 non-null object
zipcode                  415584 non-null object
dtypes: object(18)
memory usage: 57.1+ MB

In [6]:
inspections.grade.value_counts().reset_index()

            index   grade
0               A  159722
1               B   30512
2               C    7690
3               Z    1962
4  Not Yet Graded    1743
5               P    1384
6               G       6

In [7]:
inspections.score.value_counts().reset_index()

    index  score
0      12  40461
1      13  27271
2      10  24845
3      11  23497
4       9  22651
5       7  16581
6      19  12614
7      17  12596
8      20  11890
9      22  11129
10     18  11042
11     21  10733
12     24   9574
13     23   9036
14      8   8502
15     25   8371
16     16   7899
17     26   7641
18     15   7268
19     27   7123
20      5   6664
21     14   6124
22      2   5405
23     28   5397
24      4   4992
25     29   4961
26     30   4889
27     31   4169
28     32   3995
29     33   3727
..    ...    ...
89     96     42
90     99     42
91     86     40
92     91     39
93    103     33
94     89     32
95     97     32
96    106     31
97     98     30
98     95     28
99     87     24
100    94     23
101   111     23
102   102     22
103   112     21
104   110     21
105   117     20
106   109     19
107   108     18
108   116     17
109    85     13
110   115     11
111   130     11
112   100     10
113   105     10
114   104      9
115   131      7
116   101      6
117   120      5
118    -2      3

[119 rows x 2 columns]

In [8]:
inspections.boro.value_counts().reset_index()

           index    boro
0      MANHATTAN  166259
1       BROOKLYN  102779
2         QUEENS   95954
3          BRONX   36217
4  STATEN ISLAND   14371
5        Missing       4

In [20]:
failed = inspections[inspections.grade == "Z"]

In [21]:
failed.head()

,action,boro,building,camis,critical_flag,cuisine_description,dba,grade,grade_date,inspection_date,inspection_type,phone,record_date,score,street,violation_code,violation_description,zipcode
2363,Violations were cited in the following area(s).,MANHATTAN,433,40366396,Critical,American,DESMOND'S TAVERN,Z,2017-05-11T00:00:00,2017-05-11T00:00:00,Cycle Inspection / Re-inspection,2126849472,2017-06-04T06:00:49,34,PARK AVENUE SOUTH,04N,Filth flies or food/refuse/sewage-associated (...,10016
2364,Violations were cited in the following area(s).,MANHATTAN,433,40366396,Critical,American,DESMOND'S TAVERN,Z,2017-05-11T00:00:00,2017-05-11T00:00:00,Cycle Inspection / Re-inspection,2126849472,2017-06-04T06:00:49,34,PARK AVENUE SOUTH,06C,Food not protected from potential source of co...,10016
2365,Violations were cited in the following area(s).,MANHATTAN,433,40366396,Critical,American,DESMOND'S TAVERN,Z,2017-05-11T00:00:00,2017-05-11T00:00:00,Cycle Inspection / Re-inspection,2126849472,2017-06-04T06:00:49,34,PARK AVENUE SOUTH,06D,"Food contact surface not properly washed, rins...",10016
2366,Violations were cited in the following area(s).,MANHATTAN,433,40366396,Critical,American,DESMOND'S TAVERN,Z,2017-05-11T00:00:00,2017-05-11T00:00:00,Cycle Inspection / Re-inspection,2126849472,2017-06-04T06:00:49,34,PARK AVENUE SOUTH,06F,Wiping cloths soiled or not stored in sanitizi...,10016
2367,Violations were cited in the following area(s).,MANHATTAN,433,40366396,Not Critical,American,DESMOND'S TAVERN,Z,2017-05-11T00:00:00,2017-05-11T00:00:00,Cycle Inspection / Re-inspection,2126849472,2017-06-04T06:00:49,34,PARK AVENUE SOUTH,08A,Facility not vermin proof. Harborage or condit...,10016

In [22]:
failed.boro.value_counts().reset_index()

           index  boro
0      MANHATTAN   772
1         QUEENS   468
2       BROOKLYN   436
3          BRONX   208
4  STATEN ISLAND    78

In [23]:
failed.violation_description.value_counts().reset_index()

                                                index  violation_description
0   Facility not vermin proof. Harborage or condit...                    242
1   Non-food contact surface improperly constructe...                    240
2   Evidence of mice or live mice present in facil...                    178
3   Food not protected from potential source of co...                    165
4   Cold food item held above 41Âº F (smoked fish ...                    148
5         Hot food item not held at or above 140Âº F.                    128
6   Plumbing not properly installed or maintained;...                    119
7   Food contact surface not properly washed, rins...                    108
8   Food Protection Certificate not held by superv...                     68
9   Filth flies or food/refuse/sewage-associated (...                     58
10  Sanitized equipment or utensil, including in-u...                     44
11  Personal cleanliness inadequate. Outer garment...                     44
12  Wiping cloths soiled or not stored in sanitizi...                     41
13  Raw, cooked or prepared food is adulterated, c...                     41
14  Live roaches present in facility's food and/or...                     34
15  Food not cooled by an approved method whereby ...                     31
16  Proper sanitization not provided for utensil w...                     29
17  Pesticide use not in accordance with label or ...                     23
18  Hand washing facility not provided in or near ...                     21
19  Evidence of rats or live rats present in facil...                     18
20      Food contact surface not properly maintained.                     18
21  Single service item reused, improperly stored,...                     18
22  Food worker does not use proper utensil to eli...                     18
23  Tobacco use, eating, or drinking from open con...                     16
24                       Thawing procedures improper.                     15
25  No facilities available to wash, rinse and san...                     14
26  Appropriately scaled metal stem-type thermomet...                     11
27  ''''Wash hands sign not posted at hand wash f...                      8
28  Mechanical or natural ventilation system not p...                      8
29  Food from unapproved or unknown source or home...                      6
30  Accurate thermometer not provided in refrigera...                      6
31  Food contact surface improperly constructed or...                      4
32   Food not cooked to required minimum temperature.                      3
33  Toilet facility not maintained and provided wi...                      3
34  Hot food item that has been cooked and refrige...                      3
35  Food worker does not wash hands thoroughly aft...                      3
36  Covered garbage receptacle not provided or ina...                      2
37  Canned food product observed dented and not se...                      2
38  Records and logs not maintained to demonstrate...                      2
39  Toilet facility not provided for employees or ...                      2
40  Shellfish not from approved source, improperly...                      2
41  HACCP plan not approved or approved HACCP plan...                      1
42  Live animals other than fish in tank or servic...                      1
43  Food prepared from ingredients at ambient temp...                      1